body {
    background-color: #2d2a2a;
    font-size: 2vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#title {
    color: white;
    font-size: 3em;
    text-align: center;
}

/*-----Text----*/


/*-----Klassen----*/
/* [ON BIG SCREEN] */
/* (A) WRAPPER */
#hamnav {
    width: 100%;
    background: #2d2a2a;
    position: sticky;
    top: 0;
}

/* (B) HORIZONTAL MENU ITEMS */
#hamitems {
    display: flex;
}

#hamitems a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
}

#hamitems a:hover {
    background: #2d2a2a;
    text-decoration: underline;
}

/* (C) HIDE HAMBURGER */
#hamnav label,
#hamburger {
    display: none;
}




/* [ON SMALL SCREENS] 
@media screen and (max-width: 768px){
    /* (A) BREAK INTO VERTICAL MENU 
    #hamitems a {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border-top: 1px solid #333;
    }*/

/* (B) SHOW HAMBURGER ICON
    #hamnav label { 
      display: inline-block; 
      color: rgb(213, 213, 213);
      background: #2e4712;
      font-style: normal;
      font-size: 1.2em;
      padding: 10px;
    } */

/* (C) TOGGLE SHOW/HIDE MENU
    #hamitems { display: none; }
    #hamnav input:checked ~ #hamitems { display: block; }
  }*/

/*-----Tags----*/